.hijo-1{
background-color: green;
width: 20%;
height: 100px;
}    
.hijo-2{
    background-color: red;
    width: 20%;
    height: 100px;
}
.hijo-3{
    background-color: blue;
    width: 20%;
    height: 100px;
}
